<html>

    <%- include('head.ejs') %>

<body>
    <%- include('navbar.ejs') %>
    <div class="body">

        <div></div>

        <div>

            <h1><%= title %></h1>
            <p>ecco chi ha speso di più tra i tuoi amici</p>

            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">CustomerID</th>
                        <th scope="col">Quanto ha speso</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        
                        <td><%= max.user %>  </td>
                        <td><%= max.count %> </td>
                    </tr>
                </tbody>
            </table>






        </div>

        <div></div>
    </div>
</body>

</html>