<html>

    <%- include('head.ejs') %>

<body>
    <%- include('navbar.ejs') %>
    <div class="body">

        <div></div>

        <div>

            <h1><%= title %></h1>
            <p>ecco i due amici</p>


            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">CustomerID</th>
                        <th scope="col">Nazione</th>
                        <th scope="col">Sesso</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        
                        <td><%= amico1.customerid %> </td>
                        <td><%= amico1.country %></td>
                        <td><%= amico1.sesso %></td>
                    </tr>
                    <tr>
                        <td><%= amico2.customerid %></td>
                        <td><%= amico2.country %></td>
                        <td><%= amico2.sesso %></td>
                    </tr>
                </tbody>
            </table>






        </div>

        <div></div>
    </div>
</body>

</html>