<html>

  <%- include('head.ejs') %>

<body>
  <%- include('navbar.ejs') %>
  <div class="body">

    <div></div>

    <div>

      <h1 style="font-size: 60pt;"><%= title %></h1>
      <h2 style="margin-top: 18px; text-align: center;">Social e-commerce</h2>
      <div style="padding: 2rem;"></div>
      <p>Seleziona l'id di un utente:</p>

      <% if (typeof customerid !== 'undefined'){ %>


      <form action="/" method="post">
        <select name="customerid" id="ci">
          <% for( let i = 0; i < customerid.length; i++ ) { %>
          <option><%= customerid[i] %></option>
          <% } %>
        </select>
        
        <div class="database"><button type="submit" class="btn btn-primary">Seleziona</button><img src="/image/postgreSQL.png" ></div>
      </form>
      <% } else { %>
      <%= customer %>
      <form action="/query/2" method="post">
        <input type="hidden" name="customerid" value="<%= customer %>">
        <button type="submit" class="btn btn-primary">Seleziona Fattura</button>
      </form>

      <form action="/query/3" method="post">
        <input type="hidden" name="customerid" value="<%= customer %>">
        <button type="submit" class="btn btn-primary">Seleziona Amico</button>
      </form>

      <form action="/graph/b" method="post">
        <input type="hidden" name="customerid" value="<%= customer %>">
        <button type="submit" class="btn btn-primary">Attributo più frequente</button>
      </form>

      <form action="/graph/a" method="post">
        <input type="hidden" name="customerid" value="<%= customer %>">
        <button type="submit" class="btn btn-primary">Amico più generoso</button>
      </form>

      <form action="/graph/k" method="post">
        <input type="hidden" name="customerid" value="<%= customer %>">
        <button type="submit" class="btn btn-primary">Prodotti in comune con amici</button>
      </form>



      <% } %>


    </div>

    <div></div>
  </div>
</body>

</html>