<html>

  <%- include('head.ejs') %>

<body>
  <%- include('navbar.ejs') %>
  <div class="body">

    <div></div>

    <div>

      <h2 style="margin-top: 18px; text-align: center;">Utente selezionato: <%= customerid %> </h2>
      <div style="padding: 2rem;"></div>
      <p>Seleziona l'id di una fattura per calcolarne il totale</p>




      <form action="/query/1" method="post">
        <select name="invoiceno" id="ci">
          <% for( let i = 0; i < invoiceno.length; i++ ) { %>
          <option><%= invoiceno[i] %></option>
          <% } %>
        </select>
        <input type="hidden" name="customerid" value="<%= customerid %> ">
        <div class="database"><button type="submit" class="btn btn-primary">Seleziona</button><img src="/image/mongo.png"></div>
      </form>
      


    </div>

    <div></div>
  </div>
</body>

</html>