<html>

  <%- include('head.ejs') %>

<body>
  <%- include('navbar.ejs') %>
  <div class="body">

    <div></div>

    <div>

      <h1><%= title %></h1>
      <p>Seleziona l'id di un amico</p>




      <form action="/query/4" method="post">
        <select name="customer2" id="ci">
          <% for( let i = 0; i < customerFriends.length; i++ ) { %>
          <option><%= customerFriends[i] %></option>
          <% } %>
        </select>
        
        <input type="hidden" value="<%= customerid %>" name="customer1">
        <div class="database"><button type="submit" class="btn btn-primary">Mostra</button><img src="/image/postgreSQL.png"></div>
      </form>
      


    </div>

    <div></div>
  </div>
</body>

</html>