<html>

  <%- include('head.ejs') %>

<body>
  <%- include('navbar.ejs') %>
  <div class="body">

    <div></div>

    <div>

      <h1 style="font-size: 60pt;"><%= title %></h1>
      <h2 style="margin-top: 18px; text-align: center;">Utente selezionato: <%= customer %> </h2>
      <div style="padding: 2rem;"></div>







      <% if (typeof customerid !== 'undefined'){ %>

      <% } else { %>
      <div class="pulsantiOrdinati">
        <div></div>
        <div>
          <form action="/query/2" method="post">
            <input type="hidden" name="customerid" value="<%= customer %>">
            <div class="database"><button type="submit" class="btn btn-primary">Seleziona Fattura</button><img
                src="/image/postgreSQL.png"></div>
          </form>

          <form action="/query/3" method="post">
            <input type="hidden" name="customerid" value="<%= customer %>">
            <div class="database"><button type="submit" class="btn btn-primary">Seleziona Amico</button><img
                src="/image/neo4j.png"></div>
          </form>

          <form action="/graph/b" method="post">
            <input type="hidden" name="customerid" value="<%= customer %>">
            <div class="database"><button type="submit" class="btn btn-primary">Attributo più frequente</button><img
                src="/image/postgreSQL.png"><img src="/image/mongo.png"></div>
          </form>

          <form action="/graph/k" method="post">
            <input type="hidden" name="customerid" value="<%= customer %>">
            <div class="database"><button type="submit" class="btn btn-primary">Prodotti in comune con
                amici</button><img src="/image/postgreSQL.png"><img src="/image/neo4j.png"></div>
          </form>

          <form action="/graph/a" method="post">
            <input type="hidden" name="customerid" value="<%= customer %>">
            <div class="database"><button type="submit" class="btn btn-primary">Amico più generoso</button><img
                src="/image/postgreSQL.png"><img src="/image/mongo.png"><img src="/image/neo4j.png"></div>
          </form>


        </div>
        <div></div>
      </div>
      <% } %>


    </div>

    <div></div>
  </div>
</body>

</html>