<html>

    <%- include('head.ejs') %>

<body>
    <%- include('navbar.ejs') %>
    <div class="body">

        <div></div>

        <div>

            <h1><%= title %></h1>
            <p>prodotti comuni con: <strong><%= customerid %> </strong></p>




            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">CustomerID</th>
                        <th scope="col">prodotti comprati in comune</th>
                    </tr>
                </thead>
                <tbody>
                    <% for( let i = 0; i < intersection.length; i++ ) { %>
                    <tr>

                        <td><%= intersection[i].userid %> </td>
                        <td>
                            <% for( let j = 0; j < intersection[i].stocks.length; j++ ) { %>
                            <% if (intersection[i].stocks.length-1==j) { %>
                            <%= intersection[i].stocks[j] %>
                            <% } else {%>
                            <%= intersection[i].stocks[j] %>, 
                            <% } %>
                            <% } %>
                        </td>
                    </tr>
                    <% } %>


                </tbody>
            </table>


        </div>

        <div></div>
    </div>
</body>

</html>