<html>

    <%- include('head.ejs') %>

<body>
    <%- include('navbar.ejs') %>
    <div class="body">

        <div></div>

        <div>

            <h1><%= title %></h1>
            <p>L'utente <strong><%= customerid %> </strong> ha speso <strong><%= count %> </strong> per la fattura
                <strong><%= fattura %> </strong></p>







        </div>

        <div></div>
    </div>
</body>

</html>